
.container__overall-result{
    min-height: 15rem;
    margin-bottom: 1rem;
    position: relative;
}

.container__overall-result img{
    width: 100%;
}

.container__overall-result .today-result {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.container__overall-result .today-result .today-result__date-location p{
    color: var(--neutral-300);
}
.container__overall-result .today-result .today-result__temperature{
    display: flex;
    justify-content:center;
    align-items: center;
}

.container__overall-result .today-result .today-result__temperature img{
    width: 5rem;
    height: 5rem;
}

.container__overall-result .today-result .today-result__temperature p{
    font-size: 5rem;
    font-weight: 700;
}

.container__result-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.container__result-details div{
    border-radius: 0.5rem;
    background-color: var(--neutral-700);
    height: 6rem;
    border: 0.1rem solid var(--neutral-600);
    padding: 1rem;
}
.container__result-details div label{
    color: var(--neutral-300);
}

.container__result-details div p{
    margin-top: 1rem;
    font-size: 1.5rem;
}

@media screen and (width >= 65rem){
    .container__result-details{
        grid-template-columns: repeat(4, 1fr);
    }

    .container__overall-result .today-result {
        flex-direction:row;
        justify-content: space-between;
        text-align: left;
    }
}