.container__hourly-forecast select{
    height: 2rem;
    color: var(--neutral-0);
    background-color: var(--neutral-800);
    border: 0.1rem solid var(--neutral-600);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.container__hourly-forecast select:hover, .container__hourly-forecast select:focus{
    opacity: 0.8;
}

.container__hourly-forecast select:active{
    opacity: 0.6;
}
.container__day-selection{
    position: relative;
}

.container__day-selection ul{
    position: absolute;
    top: 2rem;
    left:0;
    padding: 0.5rem;
    background-color: var(--neutral-800);
    width: 12rem;
    z-index: 101;
    border-radius:0.5rem;
}

.hourly-temps li {
    height: 2.5rem;
    background-color: var(--neutral-700);
    border: 0.1rem solid var(--neutral-600);
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
}

.hourly-temps li p:last-child {
    position: absolute;
    right: 1rem;
}

.hourly-temps li img{
    width: 2rem;
    height: 2rem;
}