.container__header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_submenu{
    position: fixed;
    top:0;
    right:0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    z-index: 100;
}

.submenu{
    position: absolute;
    right: 0;
    top: 2.5rem;
    padding: 0.5rem 0.2rem;
    background-color: var(--neutral-800);
    width: 12rem;
    z-index: 101;
    border-radius:0.5rem;
}

.submenu .submenu__settings{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.icon-btn.dropdown-btn{
    z-index:101;
}

