.container__header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unit-settings{
    position: absolute;
    right: 0;
    top: 2.5rem;
    background-color: var(--neutral-800);
    width: 12rem;
    z-index:10;
}
