@font-face {
    font-family: "Bricolage Grotesque Bold";
    src: url('./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf');
}

@font-face {
    font-family: "DMSans Bold";
    src: url('./assets/fonts/DM_Sans/static/DMSans-Bold.ttf');
}

@font-face {
    font-family: "DMSans Light";
    src: url('./assets/fonts/DM_Sans/static/DMSans-Light.ttf');
}

@font-face {
    font-family: "DMSans Medium";
    src: url('./assets/fonts/DM_Sans/static/DMSans-Medium.ttf');
}

@font-face {
    font-family: "DMSans SemiBold";
    src: url('./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf');
}

@font-face {
    font-family: "DMSans SemiBold Italic";
    src: url('./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf');
}

:root {
    font-family: 'DMSans Light', sans-serif;
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-0: hsl(0, 0%, 100%);

    --orange-500: hsl(28, 100%, 52%);

    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}

html {
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DMSans Light', sans-serif;
    background-color: var(--neutral-900);
    color: var(--neutral-0);
    font-weight: 400;
    padding: 3rem;
}

#root{
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--neutral-0);
}

img {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

button{
    cursor: pointer;
    font-family: "DMSans Medium";
    font-size: 0.9rem;
}

.wide-btn{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--blue-500);
    border: 0;
    color: var(--neutral-0);
}

.wide-btn:hover, .wide-btn:focus {
    background-color: var(--blue-700);
    outline: 0;
}

.round-btn {
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid var(--rose-50);
    border-radius: 50%;
    color: var(--rose-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.round-btn:hover, .round-btn:focus{
    background-color: var(--rose-900);
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}